/*manages the things regarding the background */
/*fade out the image a bit since it is in black or white... otherwise ask jesal for another indea...*/
#bk_img{
    /*filter:brightness(50%);*/
    /*background-size: cover;*/
}

/*change the text font*/
#header h1{
    text-align: center;
    top: -40px;
    text-transform: uppercase;
    width: 100%;
    color: black;
    position: absolute;
    font-size: 80px;
}

/*change the text font */
#navigation a{
    /*position: absolute;*/
    font-size: 30px;
    text-decoration: none;
    text-transform: capitalize;

}

#to_top{
    font-size: 20px;
    text-align: right;
}

